<nav class="menu-lateral">
    <div class="menu-links">
        <ul>
            <li>
                <a href="{{ url_for('dashboard_cliente') }}" 
                   class="{{ 'active' if request.endpoint == 'dashboard_cliente' }}">
                   Minha Conta
                </a>
            </li>

            <li>
                <a href="#">Saldo e Extrato</a>
            </li>

            <li>
                <a href="{{ url_for('deposito') }}" 
                   class="{{ 'active' if request.endpoint == 'deposito' }}">
                   Depósito
                </a>
            </li>

            <li>
                <a href="{{ url_for('saque') }}" 
                   class="{{ 'active' if request.endpoint == 'saque' }}">
                   Saque
                </a>
            </li>

            <li><a href="#">Transferência</a></li>
            <li><a href="#">Meus Cartões</a></li>
            <li><a href="#">Consultar Limite</a></li>
        </ul>
    </div>
    <div class="logout-link">
        <a href="{{ url_for('logout') }}">Encerrar Sessão</a>
    </div>
</nav>